USE [master]
GO
/****** Object:  Database [ApartmanDB]    Script Date: 9.4.2019 11:13:24 ******/
CREATE DATABASE [ApartmanDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApartmanDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ApartmanDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApartmanDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ApartmanDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApartmanDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApartmanDB]
GO
USE [ApartmanDB]
GO
/****** Object:  Table [dbo].[Gelir]    Script Date: 9.4.2019 11:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gelir](
	[GelirID] [int] IDENTITY(1,1) NOT NULL,
	[DaireNo] [int] NULL,
	[Tutar] [decimal](18, 0) NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_Gelir] PRIMARY KEY CLUSTERED 
(
	[GelirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gider]    Script Date: 9.4.2019 11:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gider](
	[GiderID] [int] IDENTITY(1,1) NOT NULL,
	[Tutar] [decimal](18, 0) NULL,
	[Tarih] [date] NULL,
	[GiderTuru] [nvarchar](50) NULL,
 CONSTRAINT [PK_Gider] PRIMARY KEY CLUSTERED 
(
	[GiderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[InsertGelir]    Script Date: 9.4.2019 11:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[InsertGelir]
@DaireNo int,
@Tutar decimal,
@Tarih date

As
Begin
	Insert Into Gelir (DaireNo,Tutar,Tarih)
	Values(@DaireNo,@Tutar,@Tarih)
End
GO
/****** Object:  StoredProcedure [dbo].[InsertGider]    Script Date: 9.4.2019 11:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[InsertGider]
@Tutar decimal,
@Tarih date,
@GiderTuru nvarchar(50)
AS
Begin
	Insert Into Gider (Tutar,Tarih,GiderTuru)
	Values (@Tutar,@Tarih,@GiderTuru)
End
GO
USE [master]
GO
